@model SharpDevelopMVC4.Models.Product

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

 @if (Request.IsAuthenticated)
     {

    <div class="row">

     <div class="col-lg-3">
     <h1 class="my-4"></h1>
       
        <hr />
        
    @if(User.IsInRole("admin"))
	   {
	               
	   	<a href="/crudsample" class="btn btn-outline-primary btn-lg">All Vets</a>     
	   }  
	   
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-8">

        <div class="card mt-4">
          <img class="card-img-top img-fluid"  src="/uploadedimages/@Model.PictureFilename">
          <div class="card-body">
            <h3 class="card-title">@Model.Name</h3>
            <h4>@Model.Address, @Model.AddCity</h4>
            <p class="card-text"><a style="color:red">Open Hour's</a>: @Model.Unit</p>
            <a style="color:black">Description</a>
            <p class="card-text" rows = "5" cols = "50">:@Model.Description</p>
           
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header" style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px; font-size: 40px;">
            Clinic's Information
          </div>
          <div class="card-body">
             <h5 style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;color:red; font-size: 20px;">Telephone</h5>
           <p class="card-text">@Model.contactInfo</p>
            <hr>
            
             <h5 style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;color:red; font-size: 20px;">Pets Accomodated</h5>
              @foreach(var animal in ViewBag.Animals)
             {
             
              <p class="card-text">@animal.Name</p>
               
              }  
            
            
            <hr>
            
            
            <h5 style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px; font-size: 40px;">Product</h5>
            <table class="table table-striped table-dark table-hover">
         <thead>
           <tr>             
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
       
            </tr>
        </thead>
        <tbody>
			@foreach(var product in ViewBag.Product)
			{
	            <tr>
	               	            
	             <td>@product.Productname</td>
	             <td>@product.Brand</td>
	             <td>@product.Price</td>
	                 
                </tr>
			}
    </tbody>
    </table>

            <hr>
              <h5  style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px; font-size: 40px;">Services</h5>
           
           <table class="table table-striped table-dark table-hover">
         <thead>
           <tr>             
                <th>Service</th>
                <th>Price</th>
       
            </tr>
        </thead>
        <tbody>
			@foreach(var service in ViewBag.Service)
			{
	            <tr>
	               	            
	             <td>@service.Servicesname</td>
	             <td>@service.Price</td>
	                 
                </tr>
			}
    </tbody>
    </table>
     @if(User.IsInRole("customer"))
	 {
    <a href="/appointment/add/@Model.Id" class="btn btn-primary btn-lg btn-block text-uppercase" >Reservation/Appointment</a>
    }
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

</div>



 if(TempData["customer"] != null)
    {
    
    <script>    
    function func(nam) {
        alert(nam);
    }
    </script>
    
	<script src="~/Scripts/YourJsFileWherFuncIsDefined.js"></script>
	<script>func('@TempData["customer"]') 
	</script>   
    }

}