@model List<SharpDevelopMVC4.Models.Product>

@{
	ViewBag.Title = "Manage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
 @if (Request.IsAuthenticated)
     {

  
    <form action="/crudsample/Searches">

   
   <div class="container">  
    <div class="row">
             <h5 style="
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;color:red; font-size: 50px;">Manage Veterinaries</h5>
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input   style="margin-top: 50px;margin-bottom:30px;"  class="form-control" type="text" name="Key"  placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button  style="margin-top: 50px; margin-bottom:30px;"  class="btn btn-primary" type="submit">🔍</button>
                    </div>
                  </div>
                </form>
              <br>  
            </div>
          </div>
	
      </form>
      <a href="/crudsample/ManageStats" style="" class="btn btn-outline-success btn-lg btn-lg btn-block text-uppercase btn-hover">View Approved Clinics</a>
     <div class="table-responsive" >   
    <table class="table table-striped table-dark table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Location</th>
                <th>Contact</th>
                 <th>OpenHours</th>
               
              
                   <th>Status</th>
                  <th>Photo</th>
                  <th>Action</th>
                  <th>Action</th>
                  
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                <td>@product.Id</td>
	                <td>@product.Name</td>
	                <td>@product.Address<br>@product.AddCity</td>
	                <td>@product.contactInfo</td>
	                <td>@product.Unit</td>
	                
	                   <td>@product.Status </td>
	                <td>
	                	<img src="/uploadedimages/thumb/@product.PictureFilename" class="img-rounded" title="@product.Name" />
	                </td>
	                <td>
	                    <a href="/crudsample/Edit/@product.Id" class="btn btn-warning btn-block text-uppercase">View</a>
	                    
	                </td>
	                 <td>
	                    
	                    <a href="/crudsample/Delete/@product.Id" class="btn btn-danger btn-block text-uppercase" onclick="return confirm('Are you sure?')">Delete</a>
	                </td>
	            </tr>
			}
        </tbody>
    </table>
          </div>

}