@model List<SharpDevelopMVC4.Models.Pet>
@{
	ViewBag.Title = "Viewpet";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<div class="table-responsive">
 <h1 style="margin-bottom: 40px;margin-top: 40px;    margin-bottom:  40px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;"> View Customer's Pets</h1>
   
 <table class="table table-striped table-dark table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>PetName</th>
                 <th>OwnersID</th>
                <th>OwnersName</th>
                <th>Breed</th>
                <th>Type</th>
                <th>Color</th>
                 
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                <td>@product.Id</td>
	                <td>@product.PetName</td>	
	                <td>@product.OwnersID</td>	            
	                <td>@product.OwnersName</td>
	                <td>@product.Breed</td>
	                <td>@product.Type</td>
	                <td>@product.Color</td>
	               
	            </tr>
			}
        </tbody>
    </table>
    </div>
    }