@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var Product = ViewBag.Product;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css	"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"></script>


<style>
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
</head>
<body>

        
   
        
        <div class="container register">
                        <div class="row">
                            <div class="col-md-4 register-left">
                            
                                                                                                   <i class='fas fa-clinic-medical' style='font-size:180px; margin-top: 100px; margin-bottom:90px;'></i>
                               
                            </div>
                            <div class="col-md-8 register-right">
                              

                                        <h3 class="register-heading">Add Pet</h3>
                                        
                                        
                            <section>
            <form action="/pet/edit?Id=@ViewBag.ID" method="post" class="form-horizontal">
            	  <div class="row register-form">
                                            <div class="col-md-6">
            	 <div class="form-group">
                     <label>Name<label style="color:red">*</label>
                    <input class="form-control" type="text" id="PetName" name="PetName" value="@Product.PetName" required />
                </div>  
               
              
                
                 <div class="form-group">
                     <label>Breed<label style="color:red">*</label>
                    <input class="form-control" type="text" id="Breed" name="Breed" value="@Product.Breed" required/>
                   
                </div>
              <!--  
                 <div class="form-group">
   
				   <label>Pet Type<label style="color:red">*</label>
				   <select name="Type" class="form-control" value="@Product.Type" required>
				  
				    <option value="@Product.Type">@Product.Type</option>
				  
				    <option value="Dog">Dog</option>
				    <option value="Cat">Cat</option>
				    <option value="Bird">Bird</option>
				    <option value="Hamster">Hamster</option>
				     <option value="Mice">Mice</option>
				     <option value="Rabbit">Rabbit</option>
				     <option value="Rat">Rat</option>
				     
				      
				   </select>
				   
				 </div>
				 -->
				 
				  <div class="form-group">
   
				   <label>Pet Type<label style="color:red">*</label>
				   <input name="Type" class="form-control" value="@Product.Type" list="cityname" required>
				   <datalist id="cityname">
				    <option>--Select Type--</option>
				  
				    <option value="Dog">Dog</option>
				    <option value="Cat">Cat</option>
				    <option value="Bird">Bird</option>
				    <option value="Hamster">Hamster</option>
				     <option value="Mice">Mice</option>
				     <option value="Rabbit">Rabbit</option>
				     <option value="Rat">Rat</option>
				     
				      </datalist>
				      
				  
				   
				 </div>
                <!--
                <div class="form-group">
                    <label>Type<label style="color:red">*</label>
                    <input class="form-control" type="text" id="Type" name="Type" value="@Product.Type" required/>
                </div>
                -->
                <div class="form-group">
                     <label>Color<label style="color:red">*</label>
                    <input class="form-control" type="text" id="Color" name="Color" value="@Product.Color" required/>
                </div>
                   		 </div>
                 <div class="col-md-6">
                
                 <div class="form-group">
                    <label>Blood Type<label style="color:red">*</label>
                    <input class="form-control" type="text" id="Bloodtype" value="@Product.Bloodtype" name="Bloodtype" required/>
                </div>
                
                 <div class="form-group">
   
				   <label>Gender<label style="color:red">*</label>
				   <select name="Gender" class="form-control" value="@Product.Gender" required>
				   <option>Gender</option>
				  
				    <option value="Male">Male</option>
				    <option value="Female">Female</option>
				      
				   </select>
				   
				 </div>
                
                 <div class="form-group">
                    <label>Birth Date<label style="color:red">*</label>
                    <input class="form-control datepicker" type="text" value="@Product.Bdate" id="Bdate"  name="Bdate" required/>
                </div>
                
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                     <a href="/pet/index" class="btn btn-secondary ">Cancel</a>
                     <p style="color:red">@ViewBag.message</p>
                </div>
                 </div>			               
            </form>
            
        </section>
    </div>


</div>

<script type="text/javascript">
   
    $('.datepicker').datepicker({ 
        endDate: new Date()
    });
  
</script>
}