@model List<SharpDevelopMVC4.Models.Admission>
@{
	ViewBag.Title = "Customer";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    
    <style>
h2{
	color: black;
	margin-bottom: 40px;margin-top: 40px;font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
}
body{
color:white;
}
p{
color:white
</style>
  </head>

 <div class="col-lg-12">
 <h2 style="margin-bottom: 40px;margin-top: 40px;    margin-bottom:  40px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;">Admission History</h2>
@foreach(var product in Model)
{
        <div class="card mt-4 " style=" background: linear-gradient(to right, #493240, #f09) !important;">
          
          <div class="card-body">
            <h3 class="card-title">@product.Vetname</h3>
             <hr>
             <p  style="font-weight:bold; color:red;"class="card-title" style="font-size: 18px;font-weight: bold;">Date Start: @product.DateStart</p>
             <p style="font-weight:bold;color:red;"class="card-title" style="font-size: 18px;font-weight: bold;">Date End: @product.DateEnd</p>
             <p style="font-weight:bold;"class="card-text"><a style="color:; font-size: 18px; ">Doctor</a>: @product.DocName</p>           
             <p style="font-weight:bold;"class="card-text"><a style="color:; font-size: 18px; ">Pet name</a>: @product.Petname</p>
             <p style="font-weight:bold;"class="card-text"><a style="color:; font-size: 18px; ">Concern</a>: @product.Concern</p>
             <p style="font-weight:bold;"class="card-text"><a style="color:; font-size: 18px; ">Complain</a>: @product.Complain</p>
             <p style="font-weight:bold;"class="card-text"><a style="color:; font-size: 18px; ">Diagnose</a>: @product.Diagnoselater</p>
           
           <hr>

          </div>
        </div>
        
}        
   </div>