@model List<SharpDevelopMVC4.Models.Diagnoserecord>
@{
	ViewBag.Title = "Viewhistory";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
h2{
	color: black;
}
body{
color:white;
}
p{
color: white;
}
</style>


 <div class="col-lg-12">
 <h2 style="margin-bottom: 40px;margin-top: color: black;font-size: 40px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;">My History</h2>
@foreach(var product in Model)
{
        <div class="card mt-4" style=" background: linear-gradient(to right, #493240, #f09) !important;">
          
          <div class="card-body">
            <h3  style="margin-bottom: 10px;margin-top: 10px;font-size: 30px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;" class="card-title">@product.Vetname</h3>
            
            <p class="card-text"><a style="color:red">Doctor</a>: @product.DocName</p>
            <p class="card-text"><a style="color:red">Concern</a>: @product.Concern</p>
            <p class="card-text"><a style="color:red">Pet name</a>: @product.Petname</p>
            <p class="card-text"><a style="color:red">Diagnosed Date</a>: @product.Datetoday</p>
            <p class="card-text"><a style="color:red">Complain</a>: @product.Complain</p>
            <p class="card-text"><a style="color:red">Diagnose</a>: @product.Diagnoselater</p>
           <hr>
           <h4 class="card-title">Admission Date</h4>
           
           <p class="card-text"><a style="color:red">Date Start:</a> @product.DateStart</p>
           <p class="card-text"><a style="color:red">Date End: </a> @product.DateEnd</p>
          </div>
        </div>
        
}        
   </div>